.nav-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  min-height: 100vh;
  background-color: #212121;
  color: #fff;
}

.app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

footer {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  gap: 25px;
}

.input-field label {
  color: rgb(255, 255, 255);
}

.input-field input[type=text]:focus+label {
  color: rgb(255, 255, 255);
}

.input-field input[type=text] {
  border-bottom: 1px solid #4285F4;
  box-shadow: 0 1px 0 0 #4285F4;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid #4285F4;
  box-shadow: 0 1px 0 0 #4285F4;
}

ul.dropdown-content.select-dropdown li span {
  color: #000;
}

.input-field input[type=text].valid {
  border-bottom: 1px solid #4285F4;
  box-shadow: 0 1px 0 0 #4285F4;
}

.select-dropdown {
  color: rgb(255, 255, 255);
}

.field {
  display: flex;
  align-items: center;
}